
<flash-messages></flash-messages>

<section class="Form ">
  <div class="container">
    <div class="row no-gutters" >
      <div class="col-lg-5">
        <img src="../../../assets/images/home2.jpg" class="img-fluid">
      </div>
      <div class="col-lg-7 px-5 pt-5">
        <a class="navbar-brand" routerLink="/"><img src="../../../assets/images/log.jpg" style="width: 50px;height: 40px;">Boarding Houses</a>
        
        <h4>Create your account</h4>
        <form (submit)="register()" >
          <div  class="form-row">
            <div class="col-lg-7">
              <input type="text" class="form-control my-4 p-2" name="firstName" placeholder="Enter Your First Name"
              [(ngModel)]="firstName">
            </div>
          </div>
          <div  class="form-row">
            <div class="col-lg-7">
              <input type="text" class="form-control my-1 p-2" name="lastName" placeholder="Enter Your Last Name"
              [(ngModel)]="lastName">
            </div>
          </div>
          <div  class="form-row">
            <div class="col-lg-7">
              <input type="email" class="form-control my-4 p-2" name="email"  placeholder="Enter Your Email"
              [(ngModel)]="email">
            </div>
          </div>
          <div  class="form-row">
            <div class="col-lg-7">
              <input type="password" class="form-control my-1 p-2" name="password" placeholder="Enter Your Password"
              [(ngModel)]="password">
            </div>
          </div>
          <div  class="form-row">
            
            <div class="col-lg-7">
              
             <button  class="btn1 my-4 p-2" type="submit">
                SIGN UP
             </button> 
            </div>
          </div>
          <p><b>Already have an account? </b><a routerLink="/login" ><b>Sign In Here</b></a></p>
        </form>
      </div>
    </div>
  </div>
</section>

