<div class="sticky-top m-0 p-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top m-0 p-0" >
    <a class="navbar-brand" href="#"><img src="../../../assets/images/log.jpg" style="width: 50px;height: 40px;">Boarding Houses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-toggle justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav " >
  
        <a class="nav-item nav-link " [routerLink]="['/login']" >Sign-In </a> 
        <a class="nav-item nav-link" [routerLink]="['/register']" >Sign-Up</a>
        <form class="form-inline" action="/action_page.php" >
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-dark" type="submit">Search</button>
        </form>
        <!-- <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link " href="#">Disabled</a> -->
      </div>
    </div>
  </nav>
 
  <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top m-0 p-0" >
    
    <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link " href="#">Rooms </a>
        <a class="nav-item nav-link" href="#">Apartments</a>
        <a class="nav-item nav-link" href="#">Houses</a>
        <a class="nav-item nav-link " href="#">Annexes</a>
      </div>
    </div>
  </nav>
  
</div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
      <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarexample"
      aria-controls="navbarexample" >
        <span class="navbar-toggler-icon"></span> 
      </button>
    
      <div class="collapse navbar-collapse justify-content-md-center" id="navbarexample">
        <ul class="navbar-nav">
    
          <li class="nav-item">
            <a  class="nav-link" routerLink="/"><i class="fas fa-home fa-lg mr-3"></i></a>
          </li>
        
          <li class="nav-item" >
            <a routerLink="/login" class="nav-link">Sign In</a>  
          </li>
    
          <li class="nav-item" >
            <a routerLink="/register" class="nav-link">Sign Up</a>
          </li>
    
        
    
        </ul>
       </div>
    </nav>
  
  <div class="container">
      <div class="jumbotron-mt-5">
          <div class="col-sm-8 mx-auto">
              <h1 class="text-center"> Welcome <br> to <br> Boarding App</h1>
          </div>
        </div>
    </div>
  
  
   -->
  