<div class="sticky-top m-0 p-0">
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top m-0 p-0" >
      <a class="navbar-brand" href="#"><img src="../../../assets/images/log.jpg" style="width: 50px;height: 40px;">Boarding Houses</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-toggle" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-toggle justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav " >
    
          <a class="nav-item nav-link" data-toggle="modal" data-target="#sign-out">Sign Out</a>
  
  
        </div>
      </div>
    </nav>
   
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top m-0 p-0" >
      
      <div class="collapse navbar-collapse navbar-toggle" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link " [routerLink]="['/profile']">My Profile </a>
          <a class="nav-item nav-link" [routerLink]="['/ad-post']">Add Post</a>
          <a class="nav-item nav-link" [routerLink]="['/my-listings']">My Listings</a>
          <a class="nav-item nav-link " [routerLink]="['/pending-post']">Pending Posts</a>
        </div>
      </div>
    </nav>
    
  </div>
    
  
  
  
  
   <!--model-->
   <div class="modal fade" id="sign-out" role="dialog">
    <div class="modal-dialog modal-lg">
      
      <div class="modal-content">
        
        <div class="modal-header">
          <h4 class="modal-title">Do You Want To Leave Document Management System? </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
      
        <div class="modal-footer">
          
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logout()">Sign-out</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Stay-here</button>
          
        </div>
        
  
      </div>
    </div>
  </div> 
  <!--end of model-->
  